.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(135deg, #3498db, #e74c3c);
    color: #fff;
    animation: slide-in 0.5s ease both;
    transform-origin: top right;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, color 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.notification:hover {
    background: linear-gradient(135deg, #27ae60, #9b59b6);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: rotate(2deg) scale(1.05);
}

.notification-icon {
    font-size: 30px;
    margin-right: 20px;
    transform: rotate(-10deg);
}

.notification-text {
    flex: 1; /* Allow text to take up the remaining space */
    text-align: center; /* Center-align text */
    font-size: 18px;
    font-weight: bold;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.notification:hover .notification-icon {
    animation: rotate 0.5s linear;
    animation-fill-mode: both;
}

.notification:hover .notification-text {
    animation: fade-in 0.5s ease-in-out;
    animation-fill-mode: both;
}

@keyframes rotate {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
